<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46971KamilCielak.EpicPasswordGenerator" Publisher="CN=Kamil" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Password Generator</DisplayName>
    <PublisherDisplayName>Kamil Cieślak</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EpicPasswordGenerator.App">
      <VisualElements DisplayName="Password Generator" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Password Generator allows you to generate unique passwords  for your local and Internet accounts." ForegroundText="light" BackgroundColor="#f1c11e">
        <DefaultTile ShowName="allLogos" ShortName="Pass Generator" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>